.experience {

	background: linear-gradient(to bottom, $primary-color 20%, $secondary-color 0%);

	img {
		height: 40rem;
	}

	&__btn {
		cursor: pointer;
		background-color: var(--primaryColor);
		font-size: 2rem;
		box-shadow: 0 1.2rem 1rem var(--mainDark) !important;
		transition-property: transform, box-shadow;
		transition: ease-in-out .3s;
		position: initial;
		margin-top: 1.5rem;

		span {
			opacity: .8;
		}

		&:hover {
			transform: translate(3px, 7px);
			box-shadow: 0 .7rem 1rem var(--mainDark) !important;
		}
	}

	@media (max-width: 992px) {
		&__box {
			div:last-child {
				flex-wrap: wrap;
				div:first-child {
					margin-right: 0;
				}
			}
		}
	}

	@media (min-width: 1020px) {

		&__box-1 {
			display: block !important;
		}

		&__box-2 {
			& div:last-child {
				margin-top: 19px
			}
			& div:first-child {
				margin-right: 15rem;
				max-width: 50%;
			}
		}

		&__btn {
			position: absolute !important;
			right: 0;
			bottom: 20%;
			transform: translateX(50%);
			&:hover {
				transform: translate(45%, 15px) !important;
				box-shadow: 0 0.6rem 1rem var(--mainDark) !important;
			}
		}
	}
}