footer {

	&__block {
		display: flex;
		flex-direction: column;
		.site-title {
			font-weight: bolder;
			font-size: 2rem;
		}
		a {
			color: $quaternary-color;
			text-decoration: none;
			margin-bottom: 1rem;
		}
	}
	&__links-text {
		font-weight: bolder;
		font-size: 18px;
		margin-bottom: 2rem;
		margin-top: .5rem;
	}
	#footer__ico {

		.footer__ico {
			display: flex;
			justify-content: space-around;
		}
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			margin-bottom: 0;
			background-color: $primary-color;
			position: relative;
			width: 2rem;
			height: 2rem;
			padding: 1.3rem;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
			transition-property: box-shadow background-color;
			transition: ease-out .4s;
			&:hover {
				box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
				background-color: $tertiary-color;
			}
			&:hover i {
				color: $primary-color;
			}
		}

		i {
			position: absolute;
			font-size: 1rem;
			border-radius: 50%;
			color: $tertiary-color;
			transition: box-shadow ease-out .4s;
		}
	}
}