header {

	.navbar {
		padding: 20px 0;
		background-color: $primary-color;

	}
	
	.form-control {
		max-width: 300px;
	}

	.navbar-brand {
		margin-right: 5rem;
	}

	.navbar-toggler:focus {
		box-shadow: unset;
	}

	.btn-navbar__primary {
		background-color: $primary-color;
		padding: 5px 30px;
		color: $secondary-color;
		transition: .4s ease-in-out ;
		transition-property: background, color ;
		border: 1px solid $secondary-color;

		&:hover {
			background-color: $secondary-color;
			color: $primary-color;
		}
		&:focus {
			box-shadow: unset;
		}
	}

	.navbar-nav {
		span {
			position: relative;
		}
		span:after {
			content: "";
			position: absolute;
			width: 50%;
			height: 2px;
			bottom: -8px;
			left: 0;
			background-color: $secondary-color;
			transition: transform 0.3s ease-in-out;
			transform: scaleX(0);
		}
		li:hover span:after {
			transform: scaleX(1);
		}
	}

}