.navbar {

	padding: 20px 0;
	background-color: $primary-color;

	&__brand {
		margin-right: 5rem;
	}

	&__links {

		ul {
			padding-left: 0;
		}
		span {
			position: relative;
		}
		span:after {
			content: "";
			position: absolute;
			width: 50%;
			height: 2px;
			bottom: -8px;
			left: 0;
			background-color: $tertiary-color;
			transition: transform 0.3s ease-in-out;
			transform: scaleX(0);
			transform-origin: left;
		}
		li:hover span:after {
			transform: scaleX(1);
		}
		li {
			list-style: none;
			margin-right: 0;
		}
	}

	&__link {
		transition: color ease-in-out .3s;
		color: $secondary-color;
		&:hover {
			color: $tertiary-color;
		}
	}
	
	@media (min-width: 992px) {
		&__links {
			li {
				margin-right: 2rem;
			}
		}
	}

}