.navbar {

	padding: 20px 0;

	&__logo {
		margin-right: 10.9rem;
	}

	&__links {

		flex: 1 1 200%;

		ul {
			padding-left: 0;
		}
		ul > li {
			margin-bottom: 8px;
		}
		.material-icons-outlined {
			transition: transform ease-in-out .3s;
		}
		#menu-navbar > li:hover > .dropdown-menu {
			transform: scaleY(1);
		}
		#menu-navbar > li:hover > a > span {
			transform: rotate(90deg);
		}
		.dropdown-toggle::after {
			content: none;
		}
		.nav-item:hover > .nav-link {
			color: var(--primaryColor);
		}
		.nav-link {
			column-gap: .5rem;
			position: relative;
			font-weight: bold;
			transition: color ease-in-out .3s;
			color: var(--mainDark);
		}

	}

	@media (min-width: 1200px) {
		&__links {
			#menu-navbar > .nav-item > .nav-link {
				padding: 0;
			}
			#menu-navbar > .nav-item > .dropdown-menu {
				position: absolute;
			}
			#menu-navbar > li > .dropdown-menu {
				border: 1px solid rgba(0,0,0,.15);
			}
			.nav-link {
				height: 100%;
				padding: .3rem 0;
			}
			.dropdown-menu > .nav-item:not(:last-child) {
				margin-bottom: .5rem;
			}
			.dropdown-menu {
				border-top: 5px solid var(--primaryColor) !important;
				padding: .3rem;
				display: block;
				transform-origin: top;
				transform: scaleY(0);
				transition-property: transform;
				transition: ease-in-out .3s;
				/*box-shadow: 0 10px 30px -10px rgb(0 0 0 / 40%);*/
				box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
			}

		}
	}

	@media (max-width: 1200px) {
		&__links {
			#menu-navbar {
				margin-top: 2rem;
			}
			#menu-navbar > li:hover > .dropdown-menu {
				display: block;
			}
			.dropdown-menu {
				position: static;
				border: 0;
			}
		}	
	}
}