.banner {

  height: calc(100vh - 82px);
  max-width: 1900px;
  margin: 0 auto;

  &__header {
    padding: 5rem 0;
    & > * {
      width: 100%;
    }
    h1 {
      font-size: 4rem;
    }
  }

  &__hero {
    height: 700px;
  }

  &__bar {
    z-index: 9999;
    background-color: $primary-color;
    left: 11px;
    bottom: -1px !important;
    a.show {
      .rotate-select-arrow {
        transition: transform ease-in-out .5s;
        transform: rotate(90deg);
      }
    }

    a {
      .rotate-select-arrow {
        transition: transform ease-in-out .5s;
        transform: rotate(-90deg);
      }
    }

    .dropdown-item {
      color: $primary-color;
    }

  }

  @media (min-width: 992px) {
    &__header {
      h1 {
        margin-right: 3rem;
      }
      p {
        padding: 0 5rem;
      }
      & > * {
        width: 50%;
      }
    }
    &__bar {
      position: absolute;
    }
  }

  @media (max-width: 992px) {
    &__hero {
      display: none;
    }
  }

}