.page-banner {

  height: calc(100vh - 82px);
  width: 100vW;

  &__bg-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: block;
  }

  &__select-bar {
    background-color: $primary-color;

    &-btn {
      background-color: $tertiary-color;
    }
    .material-icons-outlined {
      border-radius: 50%;
    }
  }

}

@media (max-width: 992px) {
  .page-banner__bg-image {
    display: none;
  }
}

@media (min-width: 992px) {
  .page-banner__select-bar {
    position: absolute;
  }
}