.prod {

	margin: 10rem 0 5rem 0;

	&__icon {
		align-items: center;
		margin-bottom: 3.5rem;
		font-size: 3rem;
		span {
			font-size: 7rem;
			margin-right: 1.5rem;
			color: $quaternary-color;
		}
		h1,p {
			margin-bottom: 0;
		}
		p {
			font-size: 1.5rem;
		}
	}

	&__second {

		flex: 0 0 50%;

		img {
			width: calc(100% - 125px);
			height: 100%;
			object-fit: cover;
		}
		div {
			width: 250px;
			background-color: var(--primaryColor);
		}
	}

	@media (min-width: 992px) {

		&__icon-lg {

			flex: 0 0 calc(50% - 60px);
			position: relative;

			& > div {
				transition-property: transform;
				transition: ease-in-out .2s;
				z-index: 99;
			}
			span {
				align-self: flex-start;
				font-size: 3rem;
			}
			p {
				font-size: 16px;
			}
			& > div:hover {
				transform: translate(0, 5px);
			}
		}

		&__first {
			padding-right: 4rem;
		}

		&__second {
			div {
				position: absolute;
				transform: translate($x-position, -50%);
			}
		}
	}

	@media (max-width: 1500px) {
		&__icon-lg {
			flex: 0 0 calc(50% - 15px);
		}
	}

	@media (max-width: 992px) {
		&__icon {
			div {
				align-items: center;
			}
		}
	}
}