.post {


	&__header {
		background: linear-gradient(to bottom, $primary-color 20%, $secondary-color 0%);
		color: var(--mainWhite);
		img {
			max-height: 750px;
		}
		h1 {
			font-size: 32px;
		}
	}
	&__stats {
		gap: 1rem;
		flex-wrap: wrap;
		& > * {
			display: flex;
			align-items: center;
			column-gap: .5rem;
			color: var(--mainWhite);
			font-size: 1rem;
			&:hover {

			}
		}
		p {
			margin-bottom: 0;
		}
	}
	@media (min-width: 992px) {
		&__header {
			img {
				width: calc(100% - 6rem);
			}
		}
	}
}