.solutions {

	button {
		color: $tertiary-color;
		height: fit-content;
		align-self: flex-end;
	}

	&__collapse {

		height: 550px;

		&-buttons {
			width: 30%;

			a[aria-expanded="true"] {
				color: $secondary-color !important;
				span {
					transition: transform ease-in-out .5s;
					transform: rotate(-90deg);
				}
				.solutions__collapse-card.collapse.show {
					display: block !important;
				}
			}

			a {
				span {
					transition: transform ease-in-out .5s;
					transform: rotate(0);
				}
			}
		}

		&-card {
			width: 70%;

			.openCard {
				display: block !important;
				height: 100% !important;
			}
		}
	}
}