
body {
  font-family: roboto, sans-serif;
  overflow-x: hidden;
  position: relative;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  &:focus {
    color: $secondary-color;
  }
}

li {
  list-style: none;
}


.nav-link {
  padding: 0;
  &:focus {
    color: $secondary-color;
  }
}