.site-title {
  text-transform: capitalize;
}

button.btn-green {
  background-color: $tertiary-color !important;
  color: $primary-color !important;
  border: 1px solid transparent;
  transition-property: background-color, color, border;
  transition: ease .3s;
  &:hover {
    color: $tertiary-color !important;
    background-color: $primary-color !important;
    border: 1px solid $tertiary-color !important;
  }
}

button.btn-green--search {
  background-color: $tertiary-color !important;
  color: $primary-color !important;
}

a.link-green {
  color: $tertiary-color !important;
}

.ico-stars {
  color: $yellowIcons;
}