.site-title {
  text-transform: capitalize;
}

.btn {
  &--white {
    color: $primary-color !important;
    .material-icons-outlined {
      transition: transform ease-out .5s;
    }
    &:hover .material-icons-outlined {
      transform: rotate(90deg);
    }
  }

  &--green {
    background-color: $tertiary-color !important;
    color: $primary-color !important;
    border: 1px solid transparent;
    transition-property: background-color, color, border;
    transition: ease .3s;
    &:hover {
      color: $tertiary-color !important;
      background-color: $primary-color !important;
      border: 1px solid $tertiary-color !important;
    }
  }

  &--nav {
    padding: .5rem 1.7rem;
    background-color: $primary-color !important;
    border-color: $tertiary-color !important;
    color: $tertiary-color !important;
    &:hover {
      background-color: $tertiary-color !important;
      color: $primary-color !important;
    }
  }

  &--search {
    background-color: $tertiary-color !important;
    color: $primary-color !important;
  }

}

.link-green {
  color: $tertiary-color !important;
  .material-icons-outlined {
    transition: transform ease-out .5s;
  }
  &:hover .material-icons-outlined {
    transform: rotate(90deg);
  }
}

.ico-stars {
  color: $yellowIcons;
}

.bgc-dark {
  background-color: $secondary-color;
}

.bgc-white {
  background-color: $primary-color;
}