
$white: hsl(0deg 0% 100%);
$dark: hsl(0deg 0% 0%);
$beige: #FAF0CA;
$green: hsl(166deg 85% 40%);
$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$lightOrange: #EE964B;
$darkOrange: #F95738;
$mainGrey: hsl(0deg 0% 94%);
$darkGrey: hsl(0deg 0% 49%);
$shadowT: hsl(0deg 0% 0% / 0.3);
$yellowIcons: hsl(24deg 100% 48%);





$primary-color: $white;
$secondary-color: $dark;
$tertiary-color: $green;
$quaternary-color: $darkGrey;
$quinary-color: $mainGrey;
$senary-color: $shadowT;




$x-position: calc(50% - 125px)